body{
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
  


.navLogo {
    background-color: #982570;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
}
.navLogo img{
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 0 50px black;
    cursor: pointer;
}
.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #7B1256;
    padding-top: 7px;
    padding-bottom: 7px;
}
.navLinks a{
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-decoration: none;
}
.navLinks a:hover{
    transform: scale(1.1);
}


.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
    padding: 30px 0px 40px 0px;
}
.titulo h1{
    color: black;
    font-weight: 500;
    margin: 0%;
    margin-bottom: 10px;
}
.titulo h2{
    color: gray;
    font-weight: 400;
    margin: 0%;
}


.areaCards {
    padding: 40px 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}
.card {
    background-color: #360F29;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 350px;
    text-align: center;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
}
.card img{
    width: 150px;
    border-radius: 50%;
    margin: 0%;
    box-shadow: 0 0 20px black;
}
.card h1 {
    color: white;
    margin: 10px 0 10px 0px;
}
.card p {
    color: rgb(190, 190, 190);
    margin: 0%;
}



footer {
    width: 100%;
    height: 50px;
    background: #7B1256;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
}