body{
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

.navLogo {
    background-color: #982570;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
}
.navLogo img{
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 0 50px black;
    cursor: pointer;
}
.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #7B1256;
    padding-top: 7px;
    padding-bottom: 7px;
}
.navLinks a{
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-decoration: none;
}
.navLinks a:hover{
    transform: scale(1.1);
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
    padding: 30px 0px 40px 0px;
}
.titulo h1{
    color: black;
    font-weight: 500;
    margin: 0%;
    margin-bottom: 10px;
}
.titulo h2{
    color: gray;
    font-weight: 400;
    margin: 0%;
}


.familiablocos {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 30px;
    padding: 40px 20px;
    background-color: white;
}

.bloco {
    width: 90%;
    max-width: 700px;
    background-color: white;
    border-left: 6px solid #982570;
    border-radius: 12px; 
    padding: 20px 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.bloco:hover {
    transform: scale(1.02); 
}

.bloco h3 {
    font-size: 22px;
    color: #982570;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bloco p {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
}


.carrosseltotal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

.carrossel {
    width: 90%;
    max-width: 1050px;
    height: 410px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.carrosseltitulo {
    text-align: center;
    padding: 30px 0;
    background-color: #982570;
}

.carrosseltitulo h2 {
    font-size: 24px;
    color: whit;
    color: white;
}

.total {
    display: flex;
    gap: 0;
    will-change: transform;
    animation: scrolling 12s linear infinite;
}

.foto {
    flex: 0 0 100%;
    height: 100%;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


footer {
    width: 100%;
    height: 50px;
    background: #7B1256;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
}